/*@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|IBM+Plex+Sans|Open+Sans+Condensed:300|Tangerine');*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

* {
    max-width: 550px;
    margin: auto;
}

header {
    margin-top: 15px;

    background-color: #f8f9fa;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;


}

.header {
    display: inline-flex;
}

body {
    font-family: 'Merriweather', serif;
}

nav {
    height: 65px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;

}

nav button {
    width: 60px;

}


header img {
    width: 80px;
    margin: 5px;

}

nav ul {
    background-color: #f8f9fa;
}


.beitrag-l-b {
    font-family: 'Merriweather', serif;
    margin: 0 0 10px 20px;
}

.beitrag-l-b button {
    margin-bottom: 10px;
}

.title {
    display: inline-flex;

}

.h1-home {
    margin-top: 40px;

    font-size: 3em;
    text-align: center;
    color: antiquewhite;
}

.h1-users {
    margin-top: 25px;
    font-size: 3em;
    text-align: center;
    color: #795b5b;
}

.h1-login {
    margin: 30px;
    font-size: 3em;
    color: antiquewhite;
}

h3 {
    font-style: italic;
    margin-left: 20px;
    padding-top: 10px;
    color: #795b5b;
}


.user-top {
    text-align: right;
    margin: 5px 20px;
    color: whitesmoke;
}

.top p {

    color: #795b5b;
}

.login {
    margin-right: 50px;
}

.logout {
    margin-right: 20px;
}

.signup {
    margin-right: 20px;
    font-size: 0.9em;
    color: darkred;
}

.signup:hover {
    text-decoration: none;
    color: darkred;
    font-size: 1em;
    margin-right: 18px;
}

.login-position {
    text-align: right;
    margin-top: -50px;
    padding: 0 18px 20px 0;
}

.bg-home {
    background: url("../img/book1.jpeg") no-repeat fixed;
    background-size: cover;
    color: dimgrey;
}

.bg {
    background: url("../img/book7.jpeg") no-repeat fixed;
    background-size: cover;
}

.bg-login {
    background: url("../img/login2.png") no-repeat fixed;
    background-size: cover;
}

.bg-kategorie {
    background: url("../img/kategorie1.jpeg") no-repeat fixed;
    background-size: cover;
}

.bg-users {
    background: url("../img/typewriter2.jpg") no-repeat fixed;
    background-size: cover;
}

.bg-contact {
    background: url("../img/contact4.jpeg") no-repeat fixed;
    background-size: cover;
}

.dropdown-menu {
    font-size: 0.8em;
}

.admin {
    text-align: right;
}

.admin a, span .link-active {
    text-decoration: none;
    color: dimgrey;
}

.admin a:hover, span .link-active:hover {

    color: cadetblue;
}

.reg1 a.reg {
    color: darkred;
    margin-left: 10px;
    font-size: 0.7em;
    justify-content: flex-end;
}

.reg1 a.reg:hover {
    text-decoration: none;
    color: #ff7077;
}


ul li {
    font-size: 0.85em;
}

.beitrag-box {

    padding-bottom: 20px;
    margin: 25px 0;
    background-color: whitesmoke;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}

.beitrag-box1 {
    width: 400px;
    padding-bottom: 20px;
    margin: 25px 0;
    background-color: whitesmoke;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    font-size: 0.8em;
}



.beitrag {

    padding-bottom: 20px;
    margin: 25px 0;
    background-color: whitesmoke;
    -webkit-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;

}
.form {
    margin: 25px;
}

.erstellD {
    font-family: Lato, Italic;
    font-weight: lighter;
    font-size: 0.85em;
    margin-left: 10px;
    display: inline-flex;
    color: lightslategrey;
}

.erstellD1 {
    font-family: Lato, Italic;
    font-weight: lighter;
    font-size: 0.85em;
    margin-left: 10px;
    display: inline-flex;
    color: lightslategrey;
}

.erstell {
    margin: 0 5px;
}

.beim {
    margin-right: 10px;
}


.beitragText {
    font-family: 'Lato', sans-serif;
    padding: 10px 20px;
}

hr {
    display: block;
    margin: 0.9px;
    border-style: inset;
    border-width: 1px medium;
    border-color: dimgrey;
    width: 100px;

}

.commentButton {
    margin-bottom: 5px;

}

.kommtext {
    font-family: 'Lato', sans-serif, italic;

}

.comment {
    padding: 5px;
    margin: 5px auto;
    max-width: 500px;
    background-color: #fff5d7;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 0.1px 3px 0px #6c757d;
    box-shadow: 0px 0.1px 3px 0px #6c757d;
}

.comment1 {
    padding: 5px;
    margin: 5px auto;
    max-width: 500px;
    background-color: #fff5d7;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;

}

.commentText {
    font-family: Lato, Italic;
    color: dimgrey;
    padding-left: 10px;
    text-align: left;
}

.userText {
    margin-bottom: 20px;
    font-size: 0.9em;
}

.delete-btn {
    padding-right: 10px;
}

/*Signup seite*/

form.register {
    padding: 20px;
}

.register {
    font-size: 1.2em;
    color: dimgrey;
}

.userverwaltung {
    font-weight: bold;
    font-size: 1.2em;
    color: #795b5b;

}

.btn-register i {
    padding-right: 190px;
    color: #795b5b;
    font-size: 1.4em;
}

.btn-register a.reg {
    color: darkred;
    font-size: 0.6em;
    margin-left: 20px;

}

.btn-register a.reg:hover {
    text-decoration: none;
    color: #ff7077;
}

/*.btn-register .home-btn{*/
/*padding-right: 210px;*/
/*padding-top: 20px;*/

/*}*/

.user-admin {
    text-decoration: underline dimgrey;
    margin-bottom: 10px;
}

.admin-user {
    display: inline-flex;
}

.user-btn {
    margin-bottom: 20px;
    margin-left: 30px;
}
