<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:if="${currentUser.isAdmin() }">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Neuen Beitrag erstellen</title>
</head>
<body class="bg">

<p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top"></p>

<header>

    <div class="header">


        <!--Navbar mit Kategorien-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">

            <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

            <span class="sr-only">(current)</span>
        </nav>
    </div>
    <div class="login-position">
        <div th:if="${currentUser == null}" class="reg1" >
            <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/signup" class="reg">Registrieren</a>

        </div>
        <div th:if="${currentUser != null}" class="reg1">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>


</header>

<h1 class="h1-home">Neuen Beitrag erstellen</h1>


<div class="beitrag-box">
    <form th:action="@{/beitragErstellen.html}" th:object="${beitrag}" method="post" class="register">
        <div class="form-group">
            <label for="ueberschrift">Überschrift</label>
            <input type="text" th:field="*{ueberschrift}" class="form-control" id="ueberschrift"
                   placeholder="Überschrift">
        </div>
        <div class="form-group">
            <label for="beitragText">Beitrag</label>
            <!--<input type="text" th:field="*{text}" class="form-control" id="beitragText" placeholder="Bitte Text eingeben">-->
            <textarea type="text" th:field="*{text}" class="form-control" id="beitragText"
                      placeholder="Bitte Text eingeben" rows="3"></textarea>
        </div>

    <div class="form-check">
        <div th:each="kategorie: ${kategorien}">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${kategorie.id}" th:field="*{kategorieIdList}">
            <label class="form-check-label" for="inlineCheckbox1" th:text="${kategorie.bezeichnung}"></label>
        </div>
    </div>

            <div class="btn-register">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Beitrag erstellen</button>
            </div>

</form>

</div>
</body>
</html>