<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Gesamte Beitragshistorie</title>
</head>
<body class="bg">

<p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top"></p>

<header>

    <div class="header">


        <!--Navbar mit Kategorien-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">

            <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

            <span class="sr-only">(current)</span>
        </nav>
    </div>
    <div class="login-position">
        <div th:if="${currentUser == null}" class="reg1">
            <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/signup" class="reg">Registrieren</a>

        </div>
        <div th:if="${currentUser != null}" class="reg1">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>


</header>

<h1 class="h1-home">Gesamte Beitragshistorie sehen</h1>

<div th:each="backupBeitrag: ${backupBeitraege}" class="beitrag">
    <h3 th:text="${backupBeitrag.ueberschrift}" class="beitragUeberschrift"></h3>
    <div th:text="${backupBeitrag.text}" class="beitragText"></div>


    <div class=" erstellD">
        <p class="erstell ">Autor:</p>
        <p th:text=" ${backupBeitrag.user.username}" class="beim"></p>
        <div th:if="${backupBeitrag.beitragStatus==1}">
            <p class="erstell">Erstellt am:</p>
            <p th:text=" ${#dates.format(backupBeitrag.aenderungsDatum, 'dd/MM/yyyy hh:mm')}"></p>
        </div>
        <div th:if="${backupBeitrag.beitragStatus==2}">
            <p class="erstell">Geändert am:</p>
            <p th:text=" ${#dates.format(backupBeitrag.aenderungsDatum, 'dd/MM/yyyy hh:mm')}"></p>
        </div>
        <div th:if="${backupBeitrag.beitragStatus==0}">
            <p class="erstell">Gelöscht am:</p>
            <p th:text=" ${#dates.format(backupBeitrag.loeschDatum, 'dd/MM/yyyy hh:mm')}"></p>
        </div>
    </div>
</div>
</body>
</html>