<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Neue Kategorie erstellen</title>
</head>
<body class="bg-kategorie">

<p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top "></p>

<header>

    <div class="header">


        <!--Navbar mit Kategorien-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">

            <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

            <span class="sr-only">(current)</span>
        </nav>
    </div>
    <div class="login-position">
        <div th:if="${currentUser == null}" class="reg1" >
            <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/signup" class="reg">Registrieren</a>

        </div>
        <div th:if="${currentUser != null}" class="reg1">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>


</header>

<h1 class="h1-home">Neue Kategorie erstellen</h1>

<div class="beitrag-box">
<form th:action="@{/kategorieErstellen.html}" th:object="${kategorie}" method="post" class="register">
    <div class="form-group">
        <label for="bezeichnung">Bezeichnung</label>
        <input type="text" th:field="*{bezeichnung}" class="form-control" id="bezeichnung" placeholder="Bezeichnung">
    </div>

            <div class="btn-register">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Kategorie erstellen</button>
            </div>

</form>
</div>
</body>
</html>