
        <!DOCTYPE html>
        <html lang="de" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel="stylesheet" th:href="@{css/style.css}">


    <title>Literatour</title>

</head>
<body class="bg-home">
<p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top"></p>

        <header>

            <div class="header">


                <!--Navbar mit Kategorien-->

                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item active">
                                <p class="nav-link" > <span class="sr-only">(current)</span></p>
                            </li>

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kategorien
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div th:each="kategorie: ${kategorien}">
                                        <a class="dropdown-item" th:href="@{/kategorieAnzeigen(kategorieId=${kategorie.id})}">
                                            <div th:text="${kategorie.bezeichnung}"></div>
                                        </a>
                                    </div>
                                </div>

                    </li>

                            <li class="nav-item active ">
                                <div th:if="${currentUser!= null && currentUser.isAdmin()}" class="nav-link admin">
                                    <a href="/beitragErstellen">Beitrag erstellen</a>
                                </div>
                                <span class="sr-only">(current)</span>
                            </li>
                            <li class="nav-item active">
                                <div th:if="${currentUser!= null && currentUser.isAdmin()}" class="nav-link admin">
                                    <a href="/kategorieErstellen">Kategorie erstellen</a>
                                </div>
                                <span class="sr-only">(current)</span>
                            </li>

                            <li class="nav-item active">
                                <div th:if="${currentUser!= null && currentUser.isAdmin()}" class="nav-link admin">
                                    <a href="/users">Benutzerverwaltung</a>
                                </div>
                                <span class="sr-only">(current)</span>
                            </li>
                            <li class="nav-item active">
                                <div th:if="${currentUser!= null}" class="nav-link admin">
                                    <a href="historieAnsehen.html">Beitragshistorie</a>
                                </div>
                                <span class="sr-only">(current)</span>
                            </li>

                            <li class="nav-item active ">
                                <div th:if="${currentUser!= null}" class="nav-link admin">
                                    <a href="kontakt.html">Kontakt</a>
                                </div>
                                <span class="sr-only">(current)</span>
                            </li>

                </ul>

                <span class="sr-only">(current)</span>
            </div>


                </nav>
            </div>
            <div class="login-position">
                <div th:if="${currentUser == null}" class="reg1" >
                    <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a href="/signup" class="reg">Registrieren</a>

                </div>
                <div th:if="${currentUser != null}" class="reg1">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            </div>


        </header>

        <div class="body">
            <h1 class="h1-home">LITERATOUR</h1>

            <!--Beitrag-->
            <div>
                <div th:each="beitrag: ${beitraegeDerKategorie}" class="beitrag">
                    <h3 th:text="${beitrag.ueberschrift}" class="beitragUeberschrift"></h3>


                    <!--ErstellDatum-->
                    <div class=" erstellD">
                        <p class="erstell ">Autor:</p>
                        <p th:text=" ${beitrag.user.username}" class="beim"></p>

                        <p class="erstell">Erstellt am:</p>
                        <p th:text=" ${#dates.format(beitrag.erstellungsDatum, 'dd/MM/yyyy')}"></p>
                    </div>

                    <div class="erstellD1">
                        <p class="erstell">Kategorie:</p>

                        <div th:each="kategorie,iterStat :${beitrag.kategorien}" th:text=" !${iterStat.last} ?${kategorie.bezeichnung} + '/'  : ${kategorie.bezeichnung}">
                            <p  th:text=" ${kategorie.bezeichnung}"></p>

                        </div>
                    </div>

                    <!--Beitrag löschen/bearbeiten-->

                    <div class="float-md-right beitrag-l-b">

                        <th:block th:if="${currentUser!=null && currentUser.isAdmin()}">
                            <form class="custom-control-inline" th:action="@{/beitragLoeschen(beitragId=${beitrag.id})}"
                                  method="post">
                                <button type="submit" class="btn btn-outline-secondary delete-btn btn-sm">Beitrag löschen</button>
                            </form>


                            <form class="custom-control-inline" th:action="@{/beitragBearbeitenLaden(beitragId=${beitrag.id})}"
                                  method="post">
                                <button type="submit" class="btn btn-outline-secondary delete-btn btn-sm">Beitrag bearbeiten
                                </button>
                            </form>

                        </th:block>
                        <form class="custom-control-inline" th:action="@{/einzelneMetadatenAnzeigen(beitragId=${beitrag.id})}"
                              method="post">
                            <button type="submit" class="btn btn-outline-secondary delete-btn btn-sm">Historie anzeigen
                            </button>
                        </form>
                    </div>

                    <div th:text="${beitrag.text}" class="beitragText"></div>

                    <!--kommentar-->
                    <div>
                        <!-- kommentar form-->
                        <form class="form" th:action="@{/kommentar(beitragId=${beitrag.id})} "
                              th:object="${kommentar}" th:if="${currentUser != null}" method="post">
                            <div class="form-group">
                                <label for="kommentar" class="kommtext">Kommentar</label>
                                <textarea type="text" th:field="*{text}" class="form-control" id="kommentar"
                                          placeholder="Ihr Kommentar" rows="3"></textarea>
                            </div>
                            <div class="komm-btn">
                                <button type="submit" class="btn btn-outline-secondary">Abschicken</button>
                            </div>
                        </form>

                        <!--kommentarText-->
                        <div th:each="kommentar: ${beitrag.kommentare}" class="comment">
                            <div class="container">
                                <div class="row">

                                    <!--userKommentar-->
                                    <div th:text="${kommentar.user.username}+' :'" class="comment col-2 userText"></div>

                                    <div th:text="${kommentar.text}" class="commentText col-8"></div>

                                    <!--kommentar löschen-->
                                    <div th:if="${currentUser!=null && (currentUser == kommentar.user || currentUser.isAdmin()) }"
                                         class="col-2 delete-btn">
                                        <form th:action="@{/deleteKommentar(kommentarId=${kommentar.id})}" method="post">
                                            <button type="submit" class="btn btn-outline-secondary delete-btn">Löschen</button>
                                        </form>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--script-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        </body>
        </html>
