<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Kontakt</title>
</head>
<body class="bg-contact">

<p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top"></p>

<header>

    <div class="header">


        <!--Navbar mit Kategorien-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light ">

            <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

                <span class="sr-only">(current)</span>
        </nav>
    </div>
    <div class="login-position">
        <div th:if="${currentUser == null}" class="reg1" >
            <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/signup" class="reg">Registrieren</a>

        </div>
        <div th:if="${currentUser != null}" class="reg1">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </div>


</header>

<h1 class="h1-home">Kontakt</h1>

<div class="beitrag-box">
<form th:action="@{/kontakt.html}" th:object="${kontakt}" method="post" class="register">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" required>
    </div>
    <div class="form-group">
        <label for="ueberschrift">Email</label>
        <input type="email" th:field="*{email}" class="form-control" id="ueberschrift" placeholder="email" required>
    </div>
    <div class="form-group">
        <label for="nachricht">Nachricht</label>
        <textarea type="text" th:field="*{text}" class="form-control" id="nachricht"
                  placeholder="Bitte Text eingeben" rows="3" required></textarea>
    </div>

    <div class="btn-register">
        <button type="submit" class="btn btn-outline-secondary btn-sm">Senden</button>
    </div>

</form>

</div>
</body>
</html>