<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Registrierung</title>

</head>
<body class="bg-login">
<h1 class="h1-login">Registrierung</h1>

<div class="beitrag-box1">
    <form th:action="@{/signup.html}" th:object="${signup}" method="post" class="register">
        <div class="form-group ">
            <label for="benutzername">Benutzername</label>
            <input type="text" th:field="*{username}" class="form-control" id="benutzername"
                   placeholder="Max Mustermampf">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Passwort</label>
            <input type="password" th:field="*{password1}" class="form-control" id="exampleInputPassword1"
                   placeholder="Passwort eingeben">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Passwort wiederholen</label>
            <input type="password" th:field="*{password2}" class="form-control" id="exampleInputPassword2"
                   placeholder="Passwort eingeben">

        </div>
        <div class="btn-register">
            <a  href="/" class="float-left"><i class="fas fa-home"></i></a>
            <button type="submit" class="btn btn-outline-secondary btn-sm float-right">Jetzt registrieren</button>
        </div>
    </form>
</div>

</body>
</html>