<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:if="${currentUser.isAdmin() }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">

    <title>Benutzerverwaltung</title>
</head>
<body class="bg-users top">

<!--<div>-->
    <!--<h1 class="h1-home">Benutzerverwaltung</h1>-->
    <p th:text="${currentUser != null ? 'Hallo ' + currentUser.username : ''}" class="user-top"></p>

    <header>

        <div class="header">


            <!--Navbar mit Kategorien-->

            <nav class="navbar navbar-expand-lg navbar-light bg-light ">

                <a class="navbar-brand" href="/"><img th:src="@{/img/logo1.png}"></a>

                <span class="sr-only">(current)</span>
            </nav>
        </div>
        <div class="login-position">
            <div th:if="${currentUser == null}" class="reg1">
                <a href="/login" class="btn btn-outline-info btn-sm"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a href="/signup" class="reg">Registrieren</a>

            </div>
            <div th:if="${currentUser != null}" class="reg1">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Logout <i
                            class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </div>
        </div>


    </header>

    <h1 class="h1-users">Benutzerübersicht</h1>

    <div th:each="user: ${users}" class="userverwaltung">
        <div th:text="${user.username}"></div>

        <div th:if="${user.isAdmin()}" class="user-admin">Administrator</div>


        <div th:if="${!user.isAdmin()}" class="admin-user">
            Benutzer

            <form th:action="@{/adminErnennen(userId=${user.id})}" method="post" class="user-btn">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Zum Admin ernennen</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>